* {
    box-sizing: border-box;
  }
  
  html, body,
  ul, ol, li,
  h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }

.header-left {
    float: left;
  }
  .header-name{
    color:white;
    transform: translate(95px,-60px);
    
    
  }

    
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
    margin-right: 20px;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    
  }
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
    
  }
  .logo {
    width: 60px;
    margin-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
    cursor: pointer;
  }
  footer{
    margin:200px 0px 0px 0px;
    height: 200px;
    
    background-color: rgba(34, 49, 52, 0.9);
    margin-bottom: 0px;
     
  }
  .footer-left{
    float: left;
    
    transform: translateY(40px);
  }
  .footer-div h1{
    /* padding-top: 25px; */
    transform: translate(90px,-50px);
    font-size: 35px;
    color: white;
    padding-left:15px;
    display: inline-block;
  
  }
  .footer-img{
    width: 90px;
    padding-top: 25px;
    padding-left: 15px;
    cursor: pointer;
  }
  .footer-div p{
    transform: translate(90px,-48px);
    color: gold;
    display: inline-block;
    padding-left: 5px;
  }
  .footer-right{
    
    display: inline-block;
    
  }
  .footer-contact{
    display: inline-block;
    transform: translate(550px,0px);
    border-left: 2px dashed pink;
    border-right: 2px dashed pink;
    padding-right: 15px;
    padding-top:20px;
    margin-top: 0px;
    width: 360px;
    padding-left: 15px;
    color: white;
    line-height: 40px;
    text-align: center;
  }
  .footer-contact h1{
    transform: translateY(-15px);
    display: inline-block;
    color: white;
    
    
  }
  .footer-contact p{
    /* padding-top: 0px;
  
    margin-top: 0px; */
    text-align: left;
  }
  .footer-social{
    float: right;
    text-align: center;  
    transform: translate(600px,7px);
    line-height: 40px;
    border-right: 2px dashed pink;
    padding-right: 45px;
  }
  .footer-social h1{
    color: white;
    padding-bottom: 25px;
  }
  .footer-social img{
    display: inline-block;
    width: 50px;
    height: 50px;
    
  }
  .footer-social img:hover{
    border: 2px solid pink;
    border-radius: 3px;
  }
  .fax-logo{
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .email-logo{
    width: 30px;
    
    margin-right: 10px;
    height: 30px;
  }
  .fa-phone{
    background-color: black;
    margin-right: 10px;
    padding:4px;
    padding-left:8px;
    width: 30px;
    border-radius: 5px;
  }

  .body h1{
      margin-top: 150px;
      background-color: coral;
      color: white;
      font-size: 40px;
      text-align:center;
      width: 790px;
      margin-left: 35%;
      /* margin-left: 350px; */
      /* border-bottom: 2px solid black; */
      box-shadow: 4px 4px black;

  }
  .menu{
      margin-top: 50px;
      margin-bottom: 50px;
  }
  .nav-left{
      float: left;
      width: 350px;
      background-color: coral;
      margin-left: 50px;
      font-size: 30px;
      display: inline-block;
      border-radius: 10px;
  }
  .nav-left ul{
    list-style-type: none;
    padding-left: 50px;
    
  }
  .list li{
      cursor: pointer;
        padding-top: 5px;
        padding-bottom: 5px;
        /* text-shadow: 0px 2px 20px black; */
        font-weight: bold;
        margin: 10px 0 10px 0;
  }
  .list li:hover{
    outline-style: solid;
  outline-color: black;
  outline-width: medium;
  
  background-color: white;
  border-radius: 5px;
}

  .nav-right{
      margin-left: 450px;
      
      
      margin-right: 50px;
      
  }
  .grid{
    display: flex;
  flex-wrap: wrap;
  background-color: gray;
  width: 970px;
}
.grid > div{
  background-color: darkolivegreen;
  width: 300px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  height: 250px;
}
.grid > div:hover{
  outline-style: solid;
  outline-color: black;
  outline-width: medium;
}
.grid > div img{
  height: 75%;
  /* display: inline-block; */
  background-color: darkolivegreen;
  padding-top: 10px;
  padding-bottom: 10px;
}
.grid > div p{
  height: 50px;
  width: 300px;
  font-size: 20px;
  color: white;
  margin-top: -50px;
  
}
.item{
  text-align: left;
  padding-left: 30px;
}
.price{
  text-align: right;
  padding-right: 30px;
}
.order-qty{
  margin-top: -25px;
  
}
.order-qty input{
  border-radius: 8px ;
  width: 80px;
  text-align: center;
}
.order-qty button{
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  background-color: white;
}

.active{
  background-color: white;
  
}