* {
    box-sizing: border-box;
  }
  
  html, body,
  ul, ol, li,
  h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }

.header-left {
    float: left;
  }
  .header-name{
    color:white;
    transform: translate(95px,-60px);
    
    
  }

    
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
    margin-right: 20px;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
    
  }
  .logo {
    width: 60px;
    margin-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
    cursor: pointer;
  }

  footer{
    margin-top: 50px;
    height: 200px;
    
    background-color: rgba(34, 49, 52, 0.9);
    margin-bottom: 0px;
     
  }
  .footer-left{
    float: left;
    
    transform: translateY(40px);
  }
  .footer-div h1{
    /* padding-top: 25px; */
    transform: translate(90px,-50px);
    font-size: 35px;
    color: white;
    padding-left:15px;
    display: inline-block;
  
  }
  .footer-img{
    width: 90px;
    padding-top: 25px;
    padding-left: 15px;
    cursor: pointer;
  }
  .footer-div p{
    transform: translate(90px,-48px);
    color: gold;
    display: inline-block;
    padding-left: 5px;
  }
  .footer-right{
    
    display: inline-block;
    
  }
  .footer-contact{
    display: inline-block;
    transform: translate(550px,0px);
    border-left: 2px dashed pink;
    border-right: 2px dashed pink;
    padding-right: 15px;
    padding-top:20px;
    margin-top: 0px;
    width: 360px;
    padding-left: 15px;
    color: white;
    line-height: 40px;
    text-align: center;
  }
  .footer-contact h1{
    transform: translateY(-15px);
    display: inline-block;
    color: white;
    
    
  }
  .footer-contact p{
    /* padding-top: 0px;
  
    margin-top: 0px; */
    text-align: left;
  }
  .footer-social{
    float: right;
    text-align: center;  
    transform: translate(580px,7px);
    line-height: 40px;
    border-right: 2px dashed pink;
    padding-right: 120px;
    
  }
  .footer-social h1{
    color: white;
    padding-bottom: 25px;
  }
  .footer-social img{
    display: inline-block;
    width: 50px;
    height: 50px;
    
  }
  .github{
    border-radius: 25px;
    margin-top: -30px;
    background-color: white;
    margin-bottom: 10px;
  }
  
  .github:hover{
    outline: solid medium white;
  }
  .insta:hover{
    outline: solid medium rgb(211, 94, 201);
  }
  .footer-social img:hover{
    
    border-radius: 3px;
  }
  .fax-logo{
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .email-logo{
    width: 30px;
    
    margin-right: 10px;
    height: 30px;
  }
  .fa-phone{
    background-color: black;
    margin-right: 10px;
    padding:4px;
    padding-left:8px;
    width: 30px;
    border-radius: 5px;
  }
  
.body{
    padding-top: 180px;
      height: 100vh;
    background-color:rgba(216, 199, 199, 0.3);
}
.box{
    border: 2px solid black;
    margin: 0 auto;
    width: 500px;
    height: 400px;
    border-radius: 15px;
    background-color: white;
    padding: 30px;
    padding-top: 60px;
    text-align: center;
    font-weight: bold;
}
.lock{
    width: 100px;
    height: 100px;
    position: absolute;
    /* margin-left: 750px ; */
    transform: translateX(750px);
    top: 130px;
    border-radius: 90px;
    
    
}
.box p{
    font-size: 17px;
    padding-top: 20px;
}
.box input{
    border:0px;
    width: 400px;
    font-size: 18px;
    border-bottom: 1px solid gray;
    padding-top: 40px;
    text-align: center;
}
.box button{
    border: 0px;
    font-size: 19px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    background-color: lightcoral;
    margin-top: 40px;
}
.box button:hover{
    background-color: coral;
}